<md-dialog aria-label="Wycena" flex="90">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Wstępna wycena naprawy urządzenia
          <i>{{urzadzenie.Urzadzenie.nazwa}}</i>
        </h2>
        <span flex></span>
        <md-switch ng-init="readOnly=true" ng-click="readOnly = !readOnly" aria-label="EdycjaDanych">
            Edycja danych {{readOnly ? 'WYŁĄCZONA' : 'DOZWOLONA'}}
        </md-switch>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fas fa-times fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div ng-include="'/templates/urzadzenie.tmpl.html'"></div>
        <div ng-include="'/templates/wyposazenie.tmpl.html'"></div>
        <div ng-include="'/templates/rozpoznanie.tmpl.html'"></div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="finish()" class="md-primary">Zakończ</md-button>
      <md-button ng-click="continueLater()">Kontynuuj później</md-button>
      <md-button ng-click="cancel()" class="md-warn">Anuluj</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>